<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<ion-title>-->
      <!--Ionic Blank-->
    <!--</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content no-padding>
  <div id="map-canvas">
    <ion-fab right bottom *ngIf="!editMode">
      <button ion-fab color="primary"><ion-icon name="logo-buffer"></ion-icon></button>
      <ion-fab-list side="top">

        <button ion-fab color="white" (click)="addMarker()" ><ion-icon  name="pin" color="primary"></ion-icon></button>
        <button ion-fab color="white" (click)="centerCameraOnLocation()"><ion-icon name="locate" color="primary"></ion-icon></button>
        <button ion-fab color="white"><ion-icon name="camera" color="primary"></ion-icon></button>
        <button ion-fab color="white" (click)="goToProfile()"><ion-icon name="person" color="primary"></ion-icon></button>

      </ion-fab-list>
    </ion-fab>

  </div>
  <ion-grid *ngIf="editMode">
    <ion-row>
      <ion-col col-6>
        <button ion-button full round (click)="goToFinalEdit()"><ion-icon name="checkmark"></ion-icon></button >
      </ion-col>
      <ion-col col-6>
        <button ion-button (click)="dismissEditMode()" full round><ion-icon name="close"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

